@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
body {
  margin: 0;
  background-color: #282828;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.content {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  background-image: url("../img/bgc.png");
  background-size: cover;
  background-position: center;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 0 20px;
}

.header__top p {
  font-size: 13px;
  margin: 0;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 583px;
}

.header__item {
  border: 1px solid white;
  border-right: 0px solid white;
  height: 44px;
}

.header__item:nth-child(1) {
  border-left: none;
}

.header__item a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.header__item a:hover {
  background-color: #ffffff;
  color: #282828;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 150px;
}

.button {
  background-color: #998431;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px;
  margin: 0 14px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.button:hover {
  background-color: #af9839;
}

.section-one__wrap {
  border: 3px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 184px;
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one__h2 {
  text-align: center;
}

.section-one__line {
  width: 160px;
  margin: 40px 0;
  border-bottom: 1px solid #ffffff;
}

.section-one__text {
  padding-left: 3px;
  text-align: center;
}

.section-one__img {
  margin-top: 50px;
}

.elem {
  font-family: "Playfair Display", serif;
}

.elem h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  margin: 0;
}

.elem .line {
  height: 0px;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

.section-two {
  background-color: #e6e3c4;
  line-height: 150%;
}

.section-two__wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 0;
}

.section-two__lines {
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two__item-one {
  color: #282828;
  font-size: 14px;
  width: 445px;
}

.section-two__item-one .lead {
  margin: 30px 0;
  line-height: 21px;
}

.section-two__text {
  margin: 0;
  margin-bottom: 30px;
}

.section-two__elem {
  width: 298px;
}

.section-two__line {
  width: 160px;
  margin: 30px 0;
  border-bottom: 1px solid #282828;
}

.section-two__button {
  margin: 0;
}

.section-two__item-two {
  width: 540px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.section-two__item-two .item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.table {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #282828;
}

.table:nth-child(1) {
  border-top: none;
}

.table__item-one {
  width: 73px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table__item-two {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px;
  border-left: 1px solid #282828;
}

.table__item-two p {
  margin: 0;
}

.table__subject {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 27px;
}

.section-three__wrap {
  position: relative;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-three__image-one {
  position: absolute;
  margin-top: 60px;
  left: -29px;
}

.section-three__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282828;
  width: 490px;
  top: 100px;
  position: relative;
  z-index: 1;
}

.section-three__line {
  width: 118px;
  margin: 40px 0 25px;
  border-bottom: 1px solid #ffffff;
}

.section-three__image-two {
  position: absolute;
  margin-top: 60px;
  right: -54px;
}

.frame {
  border: 3px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 105px 285px 90px 285px;
  margin-top: 10px;
}

.frame__text {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 80px;
  margin: 0;
  line-height: 24px;
}

.frame__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame input {
  background-color: #282828;
  color: #ffffff;
  border: 0px;
  border-bottom: 1px solid #ffffff;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  font-size: 13px;
}

.frame__input-1 {
  width: 255px;
  margin-bottom: 40px;
}

.frame__input-2 {
  width: 100%;
  margin-bottom: 60px;
}

.frame__button {
  background-color: #282828;
  border: 1px solid #ffffff;
  width: 100%;
  margin: 0;
}

.frame__button:hover {
  background-color: #ffffff;
  color: #282828;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #282828;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e3c4;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
}

.modal__content p {
  font-size: 20px;
}

.modal__close {
  width: 100%;
  height: 40px;
  background-color: #282828;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer {
  background-color: #998431;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0;
  line-height: 150%;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  border-top: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
}

.footer__link li {
  margin: 20px;
}

.footer__link a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.footer__link a:hover {
  color: #282828;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.footer__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #ffffff;
  font-weight: 600;
}

.footer__item:nth-child(3) {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__item:nth-child(4) {
  border-right: 0px solid #ffffff;
}

@media (max-width: 1200px) {
  .header__top {
    margin: 0 10px;
  }
  .section-one__wrap {
    margin: 50px 10px;
    padding: 60px 60px;
  }
  .section-two__wrap {
    margin: 0 10px;
  }
  .section-three__wrap {
    margin: 0 10px 50px 10px;
  }
  .section-three__image-one {
    display: none;
  }
  .section-three__image-two {
    display: none;
  }
  .frame input {
    width: 100%;
  }
}

@media (max-width: 1110px) {
  .section-two__item-one {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-two__item-two {
    width: 100%;
  }
  .section-two__item-two .item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .frame {
    padding: 105px 250px 90px 250px;
  }
}

@media (max-width: 950px) {
  .header__nav {
    margin-bottom: 500px;
  }
  .frame {
    padding: 105px 200px 90px 200px;
  }
  .footer__link a {
    font-size: 13px;
  }
  .footer__row {
    font-size: 13px;
  }
}

@media (max-width: 850px) {
  .section-two__item-two .item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section-two__item-two img {
    width: 100%;
  }
  .frame {
    padding: 105px 100px 90px 100px;
  }
  .footer__link li {
    margin: 10px;
  }
  .footer__row {
    padding-left: 0px;
  }
}

@media (max-width: 750px) {
  .header__nav {
    margin-bottom: 200px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .header__nav a {
    font-size: 13px;
  }
  .header__item:nth-child(3) {
    border-left: none;
    border-top: none;
  }
  .header__item:nth-child(4) {
    border-top: none;
  }
  .header__button {
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .button {
    margin: 5px 50px;
  }
  .elem h2 {
    font-size: 25px;
    text-align: center;
  }
  .text {
    font-size: 13px;
  }
  .section-one__wrap {
    margin: 20px 10px;
    padding: 20px 20px;
    border: none;
  }
  .section-two__wrap {
    padding: 20px 0;
  }
  .section-two__elem {
    width: 220px;
  }
  .section-two__item-one {
    font-size: 13px;
  }
  .section-three__wrap {
    margin: 0 10px;
  }
  .section-three__elem {
    width: 100%;
  }
  .frame {
    padding: 105px 50px 90px 50px;
    border: none;
  }
  .footer__link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 40px;
  }
  .footer__link li {
    margin: 0 10px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .footer__item {
    border-right: none;
    padding: 5px 0;
  }
  .footer__item:nth-child(3) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item a {
    margin: 0 5px;
  }
}

@media (max-width: 460px) {
  .table {
    width: 100%;
  }
  .table__item-one {
    width: 60px;
  }
  .table__item-two {
    padding: 10px 10px;
  }
  .table__subject {
    font-size: 14px;
  }
  .section-two__item-two {
    grid-gap: 10px;
  }
  .frame {
    padding: 105px 20px 90px 20px;
  }
  .footer {
    padding: 20px 0;
  }
}

@media (max-width: 400px) {
  .modal__content {
    width: 200px;
  }
  .modal__content p {
    font-size: 14px;
  }
  .modal__close {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */